---
import Layout from "../layouts/Layout.astro";
---

<Layout
title="About the Project - Sample One">
    <section>
        
    </section>
</Layout>

<style>
    section{
        min-height: 100dvh;
        width: 100%;
        display: grid;
    }
</style>