---
import Layout from '../layouts/Layout.astro';
import HeroSampleOne from '../components/HeroSampleOne.astro';
---

<Layout title="Welcome to my Landing.">
	<main>
			<HeroSampleOne
			idPage="home"
			mainTitle="Un título Cualquiera" 
			src="https://placekitten.com/g/500/400"
			alt="Tierno Gatito mirando fijamente"
			linkText="Ver más"
			href="#">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</HeroSampleOne>		
	</main>
</Layout>

<style>
	
</style>
