---
import Layout from "../layouts/Layout.astro";
---

<Layout
title="Section Sample One">
    <section>
        <div class="sectionContainer">
            <img class="bento__pic one" src="https://img.freepik.com/premium-photo/surfer-rides-wave-blue-wave_853115-1976.jpg?w=360" alt="">
            <img class="bento__pic two" src="https://img.freepik.com/free-vector/realistic-sand-beach-with-blue-water-sea_107791-24964.jpg?w=740&t=st=1705814390~exp=1705814990~hmac=a7f66f88dede613365cc9fe6e03540f0deccf8725b8e18aa615d2bb50948c774" alt="">
            <img class="bento__pic three" src="https://img.freepik.com/free-vector/summer-card-collection_23-2148131458.jpg?w=740&t=st=1705814071~exp=1705814671~hmac=c042f92b764a6e79d46d33506686e60d47bbe4bd3284f6c4087820b678910be4" alt="">
            <img class="bento__pic four" src="https://img.freepik.com/free-photo/vertical-shot-palm-trees-beach-cloudy-sunny-day_181624-55618.jpg?w=740&t=st=1705814114~exp=1705814714~hmac=28adcf7b8df94e014c39b1463f5552e573c4d56596b6f27f95ed04844633ed4a" alt="">
            <img class="bento__pic five" src="https://img.freepik.com/free-photo/beautiful-paradise-island-with-beach-sea_74190-1023.jpg?w=740&t=st=1705813836~exp=1705814436~hmac=23a052322717bac48b238110ce44fd9c7a7fa98e8d05c00bfe3d8e3d56200dc2" alt="">
            <img class="bento__pic six" src="https://img.freepik.com/free-photo/empty-sea-beach-background_74190-313.jpg?w=740&t=st=1705813773~exp=1705814373~hmac=1e958e7b84dd316c622d993cadb5ec924ccb0e6dbbe2058f5a5c55a83b96e220" alt="">
            <img class="bento__pic seven" src="https://img.freepik.com/free-vector/people-spending-vacation-beach-taking-photos-making-sandcastle-relaxing-drinking-cocktails-flat-vector-illustration_1284-83402.jpg?w=740&t=st=1705814439~exp=1705815039~hmac=6b8d8e602879bb80263f77e0c6119a9affb87d9a1060c03860b162f5db8a9532" alt="">
            <img class="bento__pic eight" src="https://img.freepik.com/free-photo/woman-posing-beach_1169-61.jpg?1&w=740&t=st=1705813935~exp=1705814535~hmac=ef8d39528a425da7df6041e4ca484a14c0871c2825555ddd6098defebf892152" alt="">
            <img class="bento__pic nine" src="https://img.freepik.com/free-photo/coconut-with-drinking-straw-palm-tree-beach_268835-1921.jpg?w=360&t=st=1705835040~exp=1705835640~hmac=4faa1c36d63d5c53cca6f199fe869bf0ad981c43e1db0e39532c7114ccb901c2" alt="">
        </div>
    </section>
</Layout>

<style>
    section{
        min-height: calc(100dvh - 4rem);
        width: 90%;
        margin: 0 auto;
        padding: 5rem 0 1rem 0;
        display: grid;
    }
    .sectionContainer{
        display: grid;
        gap: 1rem;
    }
    .bento__pic{
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 1rem;
        object-fit: cover;
    }
    @media (width > 767px) {
        section{
            width: 100%;
            align-content: center;
        }
        .sectionContainer{
        width: 80%;
        height: 100%;
        max-width: 1280px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-auto-rows: minmax(148px, 180px);
        gap: 1rem;
        margin: 0 auto;
        grid-auto-flow: dense;
    }
    .one{
        grid-column: span 2;
        grid-row: span 2;
    }
    .two{
        grid-column: span 4;
    }
    .three{
        grid-column: span 2;
    }
    .four{
        grid-column: span 2;
        grid-row: span 2;
    }
    .five{
        grid-column: span 6;
        grid-row: span 2;
    }
    .six{
        grid-column: span 2;
    }
    .seven, .eight{
        grid-column: span 4;
    }
    .nine{
        grid-column: span 2;
        grid-row: span 2;
    }
    }
</style>