---
const {href} = Astro.props;
---

<a href={href}>
    <slot>
</a>

<style>
    a{
        text-decoration: none;
        color: #FFFFFF;
        background: var(--accent);
        font-weight: 700;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        transition-duration: 300ms;
    }
    a:hover{
        background: var(--blur-accent);
        color: var(--accent);
    }
</style>