---
import BtnRounded from "./BtnRounded.astro";
import ResponsiveMenu from "./ResponsiveMenu.astro";

const {src, alt, contactHref} = Astro.props;
---
<script>
	const openMenu = document.getElementById('openMenu');
	const closeMenu = document.getElementById('closeMenu');
	const menu = document.getElementById('menu');
	const navItem = document.querySelectorAll('navItem');

	window.addEventListener('resize', function() {
        let viewportWidth = window.innerWidth;
        if (viewportWidth >= 767){
		    menu.style.transform = 'translateY(0)';
        } else{
		    menu.style.transform = 'translateY(-240px)';
        }
    });
	const menuCloser = () =>{
		closeMenu.style.transform = 'scale(0)';
		openMenu.style.transform = 'scale(1)';
		menu.style.transform = 'translateY(-240px)';
	}

    navItem.forEach(e => {
        e.addEventListener('click', menuCloser)
        console.log(e)
    })

	openMenu.addEventListener('click', ()=>{
		closeMenu.style.transform = 'scale(1)';
		openMenu.style.transform = 'scale(0)';
		menu.style.transform = 'translateY(0)';
	})
	closeMenu.addEventListener('click', menuCloser);
	window.addEventListener('load', menuCloser);
	window.addEventListener('beforeunload', menuCloser);
</script>

<nav transition:animate="none">
    <div class="navContainer">
        <div class="logoContainer">
            <img src={src} alt={alt}>
        </div>
        <ul id="menu" class="navItems">
            <slot>
        </ul>
        <div id="callToAction">
            <BtnRounded
            href={contactHref}>
                Contacto
            </BtnRounded>
        </div>
        <div id="responsiveMenuContainer">
            <div id="btnsMenu">
                <svg
                id="openMenu" 
                width="40" 
                height="40" 
                viewBox="0 0 24 24" 
                stroke-width="2" 
                stroke="currentColor" 
                fill="none" 
                stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4h6v6h-6z" /><path d="M14 4h6v6h-6z" /><path d="M4 14h6v6h-6z" /><path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /></svg>
                <svg
                id="closeMenu" 
                width="40" 
                height="40" 
                viewBox="0 0 24 24" 
                stroke-width="2" 
                stroke="currentColor" 
                fill="none" 
                stroke-linecap="round" 
                stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" /><path d="M9 9l6 6m0 -6l-6 6" /></svg>
            </div>
        </div>
    </div>
</nav>

<style>
    nav{
        height: 4rem;
        width: 100%;
        display: grid;
        align-items: center;
        border-bottom: 1px solid var(--accent);
        background: #ffffff10;
        backdrop-filter: blur(4px);
        position: fixed;
    }
    .navContainer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
    }
    .logoContainer{
        height: 4rem;
        padding: 8px 0;
    }
    img{
        height: 100%;
    }
    .navItems{
        display: grid;
        gap: 1.5rem;
        position: absolute;
        inset: 0;
        top: 4rem;
        background: #ffffffeb;
        justify-items: center;
        transform: translateY(-240px);
        transition: transform 300ms ease-in;
        height: min-content;
        padding: 1rem 0;   
    }
    #responsiveMenuContainer{
        display: block;
    }
    #callToAction{
        display: none;
    }

    #btnsMenu{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }
    #openMenu, #closeMenu{
        transform: scale(1);
        transition: transform 300ms ease-out;
        grid-column: 1/-1;
        grid-row: 1/-1;
    }
    #closeMenu{
        transform: scale(0);
    }
    @media (width > 767px) {
        .navContainer{
            width: 80%;
            max-width: 1080px;
        }
        .navItems{
            grid-auto-flow: column;
            position: unset;
            background: none;
            transform: translateY(0);
            margin-bottom: 0;
            padding-bottom: 0;
        }
        #responsiveMenuContainer{
            display: none;
        }
        #callToAction{
            display: block;
        }
    }
</style>